<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.inspur.cmis.base.cust.mapper.CustDao">

    <select id="getCustListByPage" resultType="custBean">
        SELECT A.C_NAME NAME,A.C_SSN SSN,A.C_TEL TEL,A.C_SALARY SALARY,A.C_BALANCE BALANCE,
        A.C_DEBT DEBT,A.C_UNIT UNIT,A.C_ADD ADDRESS,A.C_BUSINESS BUSINESS
        FROM GZCRM_CINFO A
    </select>
</mapper>